
input[type="text"]{
	height: 19px;
	font-color:#575757;
	font-style: italic;
}

textarea{
	height: 40px;	
	font-style: italic;
}

input[type="text"], select{
	width: 170px;
}

textarea{
	padding: 5px;
	width: 100px;
}	
select{
	height: 35px;
}


