header{
	margin-top: 2px;
	background-color: #0174DF;
	font: bold 25px italic;
	color: #FFFFFF;
	text-align: center;
	border-radius:3px; 
}

footer{
	text-align: right;
}


#tablaform{
	margin-bottom: 10px;
	width: 70%;
	padding: 13px;
	border-style: solid;
	border-color: #0174DF;
	border-radius: 3px;
}

#tablaMoviles{
	padding: 3;
	width:1000px; 
	border:solid 1px #CCC;
}

#estado{
	text-align: center;
	font-style: italic;
	font-size: 22px;
	margin-bottom: 10px;
}

input{
	text-align: right;
	margin: 9px;
}