*{
	margin:0;
	padding:0;
	position: relative;
}
html, body{
	height: 99%;
}
body{
	text-align: center;
}
header{

	text-align: center;
	color: #FFF;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	background: #076bad; 
	background: -webkit-gradient(linear, left top, left bottom, from(#032236), to(#076bad)); 
	background: -moz-linear-gradient(top, #032236, #076bad); 
}
form{
	display: inline-block;
}
#contenedor{
	margin: 5% 15%;
	height: 500px;
	border: 1px solid #000;
}
#imagen{
	height: 500px;
	background:url('img/candado.jpg') no-repeat;
   opacity: 0.5; 
	background-position: center;
}
#formulario{
	z-index: 2;
	margin: -28% 0 20% 0;
}
input{
	display: block;
	font-size: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	width: 100%;

}
/*button{
	width: 70%;
	font-size: 100%;
	
}*/
#usuario{
		margin-bottom: 5%;
}
#clave{
		margin-bottom: 15%;
}

button { 
	border-top: 1px solid #96d1f8; 
	background: #076bad; 
	background: -webkit-gradient(linear, left top, left bottom, from(#032236), to(#076bad)); 
	background: -moz-linear-gradient(top, #032236, #076bad); 
	padding: 10px 20px; 
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px; 
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0; 
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0; 
	box-shadow: rgba(0,0,0,1) 0 1px 0; 
	text-shadow: rgba(0,0,0,.4) 0 1px 0; 
	color: white; font-size: 14px; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	text-decoration: none; 
	vertical-align: middle; 
} 
button:hover { 
	border-top-color: #5f6466; 
	background: #5f6466; 
	color: #ffffff; 
} 
button:active { 
	border-top-color: #1b435e; 
	background: #1b435e;
}